# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Regression Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
env:
      APPLITOOLS_API_KEY: ${{ secrets.APPLITOOLS_API_KEY }}
      APPLITOOLS_BATCH_ID: ${{ github.sha }}
jobs:
  run_regression_tests:

    runs-on: ubuntu-latest
    steps:
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: 2.6
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
        
    - name: Setup java
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 11
        
    - name: Set Up Repository
      uses: actions/checkout@v2
    
    - name: Set Up Dependencies
      run: |
        bundle install
        bundle update
        pwd
        
    - name: Execute tests
      run: |
        rake run[ga_alpha]
      continue-on-error: true
    - name: Test Results 
      uses: deblockt/cucumber-report-annotations-action@v1.7
      with:
        access-token: ${{ secrets.GITHUB_TOKEN }}
        path: "**/cucumberAlpha_.json"
    - name: Generate Report
      run: |
        java -jar /home/runner/work/android_alpha/android_alpha/lib/cucumber-sandwich/cucumber-sandwich.jar -n -f . -o reports/
    - name: Publish Report
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: reports/cucumber-html-reports/cucumber-html-reports
  
  run_applitools_tests:
    runs-on: ubuntu-latest
    
    needs: run_regression_tests
    steps:
    - name: Set up Ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
      with:
        ruby-version: 2.6
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Set Up Repository
      uses: actions/checkout@v2
    - name: Set Up Dependencies
      run: |
        bundle install
        bundle update
    - name: Execute tests
      run: |
        rake run[ga_alpha_applitools]
      continue-on-error: true
    - name: Test Results 
      uses: deblockt/cucumber-report-annotations-action@v1.7
      with:
        access-token: ${{ secrets.GITHUB_TOKEN }}
        path: "**/cucumberAlphaUI_.json"
    
  batch-completion-notification:
     needs: run_applitools_tests
     if: always()
     runs-on: ubuntu-latest
     steps:
      - name: Update Applitools batch status 
        uses: wei/curl@v1.1.1
        with:
         # args: -d "" -X POST https://eyes.applitools.com/app/batches/${{ env.APPLITOOLS_BATCH_ID }}/complete?accountId=j_kM5zhwn0CrIhnqQgedJQ~
          args: -d "" -X POST https://eyesapi.applitools.com/api/externals/github/servers/github.com/commit/${{ env.APPLITOOLS_BATCH_ID }}/complete?apiKey=${{ secrets.APPLITOOLS_API_KEY }}



  
 
